@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html{
    margin: 0;
    padding : 0;
    font-size : 10px;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-template-areas: 
    "header nav nav "
    "hr hr hr"
    "aside section section "
    "footer footer footer";
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    font-size: 1.5rem;
    background-color: #F2594B;
}


header{
    grid-area: header;
    justify-self: left;
}

nav{
    grid-area: nav;
}

.menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);   
    grid-template-areas: "accueil disciplines horaires contact propos urgence";
    text-align: center;
    padding-top: 8rem;
    color: #d00a0a;

    
}

li{
    list-style: none;
}

.Accueil{
    grid-area: accueil;
}

.Disciplines{
    grid-area: disciplines;
}

.Horaires{
    grid-area: horaires;
}

.Contact{
    grid-area: contact;
}

.Propos{
    grid-area : propos;
}

.Urgence{
    grid-area: urgence;
}

hr{
    grid-area: hr;
    width: 100%;
    border: .25rem solid #F2E1AC;
}
aside{
    grid-area: aside;
}

section{
    grid-area: section;
}

.footer{
    grid-area: footer;
    justify-self: center;
}